.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 5px;
}
.outsideWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 95%;
}
p {
  margin: 0;
}

.searchBar {
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  padding: 10px;
}
.insideWrapper {
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: 100%;
}

.specialSearches,
.help,
.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 3px;
}

.specialSearches,
.subscribe {
  width: 40%;
}
.help {
  width: 20%;
  background-color: #70ccc2;
}
.subscribe {
  background-color: #62b3aa;
}
.specialSearches {
  background-color: #7ee5da;
}

.footer {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
